In [6]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

%load_ext autoreload
%autoreload 2

In [5]:
import numpy as np
import pprint
import random
import pandas as pd
import matplotlib.pyplot as plt

import connect_four
import q_learning

In [ ]:
q = q_learning.QLearning(5,5)
episode = q.generate_episode()
df = q.train("Q",1,0.9, 0.2, num_iterations=1000000, test_every=10000, experiment_name = "asdf")

In [5]:
experiment_name = "first_experiment"
df_path = "experiments/{}/training_df.p".format(experiment_name)
f = pd.read_pickle(df_path)
f

    Q_function_size  iteration  tie_rate  unexplored_states_rate  win_rate
0              75.0        0.0      0.05                0.881264      0.54
1         1681949.0    50000.0      0.11                0.438095      0.61
2         2955782.0   100000.0      0.11                0.323133      0.59
3         4088422.0   150000.0      0.03                0.321918      0.52
4         5127325.0   200000.0      0.12                0.284890      0.65
5         6098030.0   250000.0      0.09                0.285714      0.60
6         7016542.0   300000.0      0.09                0.271186      0.58
7         7893249.0   350000.0      0.09                0.275822      0.64
8         8725296.0   400000.0      0.13                0.253179      0.61
9         9528309.0   450000.0      0.06                0.231850      0.53
10       10301464.0   500000.0      0.06                0.232503      0.62
11       11044424.0   550000.0      0.13                0.271715      0.58
12       11772260.0   600000.0      0.10                0.248352      0.57
13       12477652.0   650000.0      0.05                0.209220      0.67
14       13160606.0   700000.0      0.03                0.220046      0.69
15       13824478.0   750000.0      0.04                0.206054      0.57
16       14480625.0   800000.0      0.06                0.208333      0.66
17       15116135.0   850000.0      0.05                0.215777      0.61
18       15742087.0   900000.0      0.11                0.223224      0.58
19       16349084.0   950000.0      0.05                0.200000      0.65
20       16950265.0  1000000.0      0.05                0.208238      0.58

In [38]:
import sys
# insert at 1, 0 is the script path (or '' in REPL)
sys.path.insert(1, 'MCTS/connect4/src')

from tournament import Tournament
from mcts.mcts_strategy import MctsStrategy
from game import Game
from player import Player
from board import Board

# converts 2d tuple to 2d array
def tuple2array(tup):
    # str
    return [[str(t2) for t2 in t] for t in tup]
            

cf = connect_four.ConnectFour(5,4)
cf.update_board(0,1)
cf.update_board(1,1)
cf.update_board(2,1)
cf.update_board(3,2)
cf.update_board(3,2)
cf.update_board(3,2)
cf.print_board()
state_tuple = tuple(tuple(a) for a in cf.board_state)


state_arr = tuple2array(state_tuple)
print(state_arr)
b = Board(5,4)
b.board = state_arr[::-1]
print(b)

p1 = Player('1')
p2 = Player('2')

players = [p1, p2]
game_number = 1
g = Game(b, players, game_number)
playerid = '2'
mcts_s = MctsStrategy(1000)
move = mcts_s.move(g, playerid)
print(move)
print(type(move))

|  .  .  .  .  .  |
|  .  .  .  x  .  |
|  .  .  .  x  .  |
|  o  o  o  x  .  |
===================
[['0', '0', '0', '0', '0'], ['0', '0', '0', '2', '0'], ['0', '0', '0', '2', '0'], ['1', '1', '1', '2', '0']]
0 0 0 0 0
0 0 0 2 0
0 0 0 2 0
1 1 1 2 0
3
<class 'int'>

In [15]:
len((1,2,3))

3